// Evenhand 
// App CSS file 
// 

$color-primary: #0B6A5B;
$color-secondary: #F59388;

.bg-light {
	background-color: #fff8f4 !important;
}

body {
	font-family: 'Butler Regular', sans-serif;
	line-height: 2;
}

h1 {
	font-size: 6rem;
}

h2, h3, h4, .btn {
	font-family: 'gopher', sans-serif;
	line-height: 1;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 1.66rem;
	text-transform: uppercase;
}

.btn {
    font-size: 1rem;
	padding: 1rem 2rem;
    line-height: 2;
    border: none;
}

.form-control {
    font-size: 1.25rem;
    padding: 2rem 1.5rem;
}

.btn-primary {
	background-color: $color-primary;
	border-color: $color-primary;
	border-radius: 0;
	text-transform: upperacse;
}

.btn-outline-primary {
	color: $color-primary;
	background-color: #fff;
	border-color: $color-primary;
}

.btn-secondary {
	background-color: $color-secondary;
	border-color: $color-secondary;
}

.btn-outline-secondary {
	color: $color-secondary;
	background-color: #fff;
	border-color: $color-secondary;
}

.text-primary {
	color: $color-primary !important;
}

.bg-secondary {
	background-color: $color-secondary !important;
}

input[type="text"].form-control {
	border-radius: 0;
	border: none;
}
